<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-faded bg-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content1" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" >
    <img src="../../assets/images/icons/anime-logo.png"
      width="60"
      height="60"
      class="d-inline-block align-top"
      alt="">
  </a>Anime Center
<div class="collapse navbar-collapse justify-content-end" id="nav-content1">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" [routerLink]="'login'" style="color: white;">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" [routerLink]="'login'" style="color: white;">Login</a>
</li>
<li class="nav-item">
<a class="nav-link" [routerLink]="'signup'" style="color: white;">SignUp</a>
</li>
<!--<li class="nav-item">
<a class="nav-link" [routerLink]="'about'" style="color: white;">About</a>
</li>-->
</ul>
</div>
</nav>
<router-outlet></router-outlet>
